<form action="https://payment.paytrail.com/e2" method="post">
  <input name="MERCHANT_ID" type="hidden" value="13466">
  <input name="URL_SUCCESS" type="hidden" value="http://139.59.87.150/demo/pizzeria-payment/success.php">
  <input name="URL_CANCEL" type="hidden" value="http://139.59.87.150/demo/pizzeria-payment/error.php">
  <input name="ORDER_NUMBER" type="hidden" value="123456">
  <input name="PARAMS_IN" type="hidden" value="MERCHANT_ID,URL_SUCCESS,URL_CANCEL,ORDER_NUMBER,PARAMS_IN,PARAMS_OUT,AMOUNT">
  <input name="PARAMS_OUT" type="hidden" value="PAYMENT_ID,TIMESTAMP,STATUS">
  <input name="AMOUNT" type="hidden" value="350.00">
  <input name="AUTHCODE" type="hidden" value="F42E98A3DEA20C9F5FF5EE85535237239531D1C6058902F0AB00D6D29A37ADCD">
  <input type="submit" value="Pay here">
</form>
  
